---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Airbnb|Viracacha 'Conoce nuestro Hoteles'">

    <section class="text-white ">
        <h1>CONOCE NUESTROS HOTELES MAS EXCLUSIVOS DE LA ZONA</h1>
    </section>

</Layout>
