---
import Card from "./Card.astro"
---
<div class="text-white justify-center text-center mt-10">
        <h1>Bienvenidos al primer <b>AIRBNB</b> en Viracacha, estas listo/a para crear una nueva historia?</h1>
        <div class="mt-11 text-2xl">
            <b>CONOCE NUESTROS PRODUCTOS</b>
        </div>
        
    <div class="grid grid-cols-3 grid-flow-row mx-40 mt-3">
        <div class="p-1 ">
            <Card/ title="HOTELES" body="Encuentra alojamiento en los destinos más populares de Viracacha" href="#" src="/Hotel.avif">
        </div>
        <div class="p-1">
            <Card/ title="RESTAURANTES" body="Descubre los mejores restaurantes recomendados" href="#" src="/Restaurante.avif">
        </div>
        <div class="p-1">
            <Card/ title="SENDEROS" body="Explora rutas y senderos escénicos para disfrutar de la naturaleza" href="#" src="/sendero.avif">
        </div>
        <div class="p-1">
            <Card/ title="GASTRONOMIA" body="Sumérgete en la cultura culinaria local con nuestra gastronomia" href="#" src="/gastronomia.avif">
        </div>
        <div class="p-1">
            <Card/ title="CULTURA" body="Descubre la fascinante historia detrás de cada lugar" href="#" src="/Historia.avif">
        </div>
        <div class="p-1">
            <Card/ title="SOBRE NOSOTROS" body="Conoce más sobre nuestra misión y equipo detrás de Airbnb" href="#" src="/Oficina.avif">
        </div>
        <div class="p-1">
            <Card/ title="TERMINOS Y CONDICIONES" body="Obten información detallada sobre el uso de nuestro servicio" href="#" src="/Conditions.avif">
        </div>
    </div>
</div>