<div
  class="flex text-white mx-20 my-10 h-24 items-center justify-end rounded-xl bg-gradient-to-t from-green-900 p"
>
  <a href="#" class="hover:text-gray-500">Terminos y Condiciones| </a>
  <a href="#" class="px-4 hover:text-gray-500">Sobre Nosotros </a>
  <!-----
  TODO:
  1- Agregar redes sociales al Footer
  --- -->
</div>
